version: '3.8'

networks:
  orion_dataspace:
    external: true

services:
  mysql-keyrock:
    image: mysql:latest
    hostname: mysql-keyrock
    container_name: mysql-keyrock
    environment:
      - MYSQL_ROOT_PASSWORD=secret_l1
      - MYSQL_DATABASE=keyrock_db_l1
      - MYSQL_USER=keyrock_user_l1
      - MYSQL_PASSWORD=keyrock_pass_l1
    networks:
      - orion_dataspace
    volumes:
      - "mysql_keyrock_data:/var/lib/mysql"

  keyrock:
    image: fiware/idm
    hostname: keyrock
    container_name: keyrock
    depends_on:
      - mysql-keyrock
    networks:
      - orion_dataspace
    ports:
      - "3005:3005"
    environment:
      - DEBUG=idm:*      
      - IDM_DB_HOST=mysql-keyrock
      - IDM_DB_PORT=3306
      - IDM_DB_NAME=keyrock_db_l1
      - IDM_DB_USER=keyrock_user_l1
      - IDM_DB_PASS=keyrock_pass_l1
      - IDM_HOST=http://localhost:3005
      - IDM_PORT=3005
      - IDM_ADMIN_USER=admin-l1@test.com
      - IDM_ADMIN_PASS=1234_l1
      - IDM_ADMIN_EMAIL=admin-l1@test.com

volumes:
  mysql_keyrock_data: